<div class="team-container">
  @for (player of players; track player) {
    <div class="player-card">
      <img class="player-thumbnail" [src]="player.thumbnail"/>

      <div class="player-description">
        <h4>{{ player.name }}</h4>
        <p>{{ player.position }}</p>
        <p>birthDate:{{ player.born | date:'yyyy-MM-dd' }}</p>
        <p>price: {{ player.signin.amount | customCurrency:player.signin.currency }}</p>
      </div>
    </div>
  }
  @empty {
    <div>
      No results
    </div>
  }
</div>
